<%- include ('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %> 
<div class="flex items-center h-screen w-full justify-center bg-gray-700">
<div class="min-w-m max-w-m w-56">
    <div class="bg-gray-800 shadow-xl rounded-lg py-3">
        <div class="photo-wrapper p-2">
            <img class="w-32 h-32 rounded-full mx-auto" src="https://previews.123rf.com/images/happyvector071/happyvector0711904/happyvector071190414500/120957417-creative-illustration-of-default-avatar-profile-placeholder-isolated-on-background-art-design-grey.jpg" alt="John Doe">
        </div>
        <div class="p-2">
            <h3 class="text-center text-xl text-white font-medium leading-8"><%= user.fullname %></h3>
            <div class="text-center text-white text-xs font-semibold">
                <p>Adopter</p>
            </div>
            <table class="text-xs my-3">
                <tbody>
                <tr>
                    <td class="px-2 py-2 text-white font-semibold">Username</td>
                    <td class="px-2 py-2 text-white"><%= user.username %></td>
                </tr>
                <tr>
                    <td class="px-2 py-2 text-white font-semibold">Email</td>
                    <td class="px-2 py-2 text-white"><%= user.email %></td>
                </tr>
            </tbody></table>

            <% if (success.length > 0) { %> 
                <% for (let i = 0; i < success.length; i++) { %> 
                    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Yay!</strong>
                        <span class="block sm:inline"><%= success[i] %>.</span>
                    </div>
                <% } %>
            <% } %>

            <div class="text-center my-3">
                <a class="text-xs text-indigo-500 hover:underline hover:text-indigo-600 font-medium" href="/users/swipe">Start Swiping<br></a>
                <a class="text-xs text-indigo-500 hover:underline hover:text-indigo-600 font-medium" href="/users/logout">Log Out</a>
            </div>

        </div>
    </div>
</div>
</div>
<%- include ('../partials/footer.ejs') %>