<%- include ('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="flex h-screen bg-gray-700">
    <div class="flex-1">
      <div class="flex items-center justify-center h-screen">
        <form method="POST" action="/users/swipe?_method=PUT" id="like-form">
          <div id="main">
            <button type="button" id="report-btn">⚠</button>
            <ion-icon id="dislike" name="heart-dislike"></ion-icon>
            <div id="swiper">
            </div>
            <ion-icon id="like" name="heart"></ion-icon>
          </div>
        </form>
      </div>
    </div>
  </div>
  

<script>
const reportBtn = document.querySelector('#report-btn');
    reportBtn.addEventListener('click', () => {
        alert('Report successful');
    });
</script>
<script type="application/javascript" src="/js/swipe.js" currUser="<%= user %>" preferences="<%= preferences %>" defer></script>
<script content="application/javascript" type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<%- include ('../partials/footer.ejs') %>